@tailwind base;
@tailwind components;
@tailwind utilities;


a{
 color:#ab695d !important
}

a:hover{
    text-decoration: none !important;
}





@media only screen and (max-width: 600px) {
    #contentMob {
        text-align: center;
        display: contents;
    }

    table{
        font-size: small;
    }

    .imageMob{
        width: 40%;
        height: auto;
    }

    tr{
        font-size:xx-small
    }

  }